@using DAO
@model List<tbSolicitudExamen>
@{
    ViewBag.Title = "Index";
}


<h2>
    Listado de Solicitud de Examenes

</h2>

<hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Id Solicitud Examen</th>
            <th>Id Paciente</th>
            <th>Id Usuario</th>
            <th>Fecha</th>
            <th>Total</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:50px" align="center">

                    <a href="@Url.Action("Editar","Solicitud",new { id=item.idPaciente})" title="Editar" style="color:green"><i class="fas fa-edit"></i></a>
                    <a href="@Url.Action("Eliminar","Solicitud",new { id=item.idPaciente})" title="Eliminar" style="color:green"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td>@item.idSolicitudExamen</td>
                <td>@item.idPaciente</td>
                <td>@item.idUsuario</td>
                <td>@item.fecha</td>
                <td>@item.Total</td>
            </tr>
        }

    </tbody>

</table>

